.denglu {
    display: flex;
    position: relative; 
    left: 53px;
    top: 15px;
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border-width: 1px;
    /* 边框宽度 */
    border-style: solid;
    /* 边框样式 */
    border-color: rgb(220, 148, 109);
    background-color: rgb(199, 206, 104);
    font-family: 'Microsoft YaHei', sans-serif;
     font-weight: bold;
}

.zhuce{
    display: flex;
    position: relative; 
    left: 110px;
    top: 15px;
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border-width: 1px;
    /* 边框宽度 */
    border-style: solid;
    /* 边框样式 */
    border-color: rgb(220, 148, 109);
    background-color: rgb(199, 206, 104);
    font-family: 'Microsoft YaHei', sans-serif; 
    font-weight: bold;
}

.denglu_register {
    display: flex;
    position: relative; 
    left: 53px;
   
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border-width: 1px;
    /* 边框宽度 */
    border-style: solid;
    /* 边框样式 */
    border-color: rgb(220, 148, 109);
    background-color: rgb(199, 206, 104);
    font-family: 'Microsoft YaHei', sans-serif;
     font-weight: bold;
}

.zhuce_register{
    display: flex;
    position: relative; 
    left: 110px;
  
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border-width: 1px;
    /* 边框宽度 */
    border-style: solid;
    /* 边框样式 */
    border-color: rgb(220, 148, 109);
    background-color: rgb(199, 206, 104);
    font-family: 'Microsoft YaHei', sans-serif; 
    font-weight: bold;
}



